<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.dbclub.mychat.dao.PyqCommentReplyMapper">
  <resultMap id="BaseResultMap" type="cn.edu.scau.dbclub.mychat.pojo.do0.PyqCommentReply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pyq_id" jdbcType="INTEGER" property="pyqId" />
    <result column="replier_id" jdbcType="INTEGER" property="replierId" />
    <result column="replieder_id" jdbcType="INTEGER" property="repliederId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <delete id="deletePyqCommentReply" parameterType="java.lang.Integer">
    delete from pyq_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="savePyqCommentReply" parameterType="cn.edu.scau.dbclub.mychat.pojo.do0.PyqCommentReply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pyq_comment_reply (pyq_id, replier_id, replieder_id, 
      content, `time`)
    values (#{pyqId,jdbcType=INTEGER}, #{replierId,jdbcType=INTEGER}, #{repliederId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updatePyqCommentReply" parameterType="cn.edu.scau.dbclub.mychat.pojo.do0.PyqCommentReply">
    update pyq_comment_reply
    set pyq_id = #{pyqId,jdbcType=INTEGER},
      replier_id = #{replierId,jdbcType=INTEGER},
      replieder_id = #{repliederId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      `time` = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getPyqCommentReply" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pyq_id, replier_id, replieder_id, content, `time`
    from pyq_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listPyqCommentReplys" resultMap="BaseResultMap">
    select id, pyq_id, replier_id, replieder_id, content, `time`
    from pyq_comment_reply
  </select>
    <!-- 2020-6-8更新 -->
  <select id="getPyqCommentRepliesByPyqId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pyq_id, replier_id, replieder_id, content, `time`
    from pyq_comment_reply
    where pyq_id = #{pyqId,jdbcType=INTEGER}
  </select>
</mapper>